UNITREE_SIM_ROOT=/mnt/newssd/unitree_sim_isaaclab
UNITREE_SDK2_ROOT=/mnt/newssd/unitree_sim_isaaclab/unitree_sdk2_python
XR_TELEOP_ROOT=/mnt/newssd/unitree_sim_isaaclab/xr_teleoperate
INSPIRE_HAND_SDK_ROOT=/mnt/newssd/unitree_sim_isaaclab/inspire_hand_ws/inspire_hand_sdk
VISIONPRO_TELEOP_ROOT=/mnt/newssd/unitree_sim_isaaclab/inspire_hand_ws/VisionProTeleop
GR00T_ROOT=/mnt/newssd/GR00T-WholeBodyControl
SONIC_PYTHON=/mnt/newssd/conda_envs/inspire_clean/bin/python

