numpy
scipy
pyzmq
matplotlib==3.7.5
opencv-python
cyclonedds==0.10.2
pymodbus==3.6.9
pyserial
PyQt5
pyqtgraph
colorcet
grpcio
grpcio-tools
aiortc
av
requests
pyyaml
mujoco
tqdm
pydub
websocket-client
gdown
flask
meshcat==0.3.2
rerun-sdk==0.20.1
sshkeyboard==2.3.1

